[run]
source = src
parallel = True
concurrency = multiprocessing
sigterm = True
omit = 
    src/pybella/data_assimilation/*
    src/pybella/inputs/*
    src/pybella/utils/debug_helpers.py
    src/pybella/utils/slices.py
    src/pybella/interfaces/postprocessing/strip_target_file.py
    src/pybella/utils/operators/laplacian/lap3D.py
    src/pybella/utils/operators/laplacian/lap2D_numba.py
    setup.py

[report]
exclude_lines =
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = htmlcov