#Ignore various files
*.log
*.o
*.orig
RKLM_Reference/MakeBuilds/rklm
low_Mach_gravity_comp/*
low_Mach_gravity_psinc/*
MatLab/results/*
*.backup
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.tex.backup
*.ps
*.zip
*.fff
*.lof
*.kate-swp
