# Ignore various cache files
*.vscode*
*pycache*
**dask-worker-space*
*.ipynb_checkpoints*
*.egg-info*

# Ignore various local subdirectories
**outputs*
**docs*

# Ignore various outputs
*.h5
*.dat
*output_*
*_old*
*copy.py*
package*json

# Sphinx html build
**_build*

# Ignore visualisation scripts except example scripts
vis/scripts/*
!vis/scripts/example_*
.VSCodeCounter/*
