# Ignore various cache files
*.vscode*
*pycache*
**dask-worker-space*
*.ipynb_checkpoints*
*.egg-info*
*.coverage*
profile*.html
profile*.json
profile*.out
prof/*
profiling/*
chat*.json

# Ignore everything under outputs/
outputs/**

# Do not ignore directories (so unignore rules can match their contents)
!outputs/
!outputs/**/
!outputs/**/*_stripped.h5

# Ignore local development and output subdirectories
**build*
**changelog.d*

# Ignore various outputs
*.h5
*.dat
*output_*
*_old*
*copy.py*
package*json
*.log
*.swp

# Sphinx html build
**_build*

# Ignore visualisation scripts except example scripts
vis/scripts/*
!vis/scripts/example_*
.VSCodeCounter/*
